<!-- from: after inspecting the element of this page after running the code for one of the modals: http://semantic-ui.com/modules/modal.html -->
<div id="workspace-knock-respond-modal" class="ui small basic modal">
    <i class="close icon"></i>
    <div class="ui icon header">
            <i class="alarm icon"></i>
            Knock Knock
    </div>
    
    <div class="content">
        <div class="description">
<!--            TODO: change from 'Lena Abdalla' to actual user's name, and 'Awesome Workspace' to the workspace's name-->
            <p class= "add-user-content">{{knockingUser["name"]}} wants to join your workspace: {{currentWorkspaceName}}</p>
        </div>
    </div>
<!--    <div class="header">Knock Knock</div>-->

    <div class="actions">
            <div class="ui inverted green button" ng-click="acceptKnockingUser(currentWorkspaceName, knockingUser)">
                <i class="checkmark icon"></i>
                Accept
            </div>
            <div class="ui inverted red button" ng-click="hideKnockRespond()">
                <i class="remove icon"></i>
                Decline
            </div>      
    </div>
</div>